.CardBg {

    background: rgba(74, 144, 226, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 5px;
    text-shadow: 2px 0px 3px #54547983;
    cursor: pointer;


}

.statusContainer {
    border-right: 1px solid #D0DCF2;
}