.HeaderDark {
  background-color: #0b1322;
  border-bottom: 0.5px solid #1d2533;
}
.HeadDarkBg{
  background-color: #0b1322;
}
.HeadLightBg{
  background-color: #ffffff;
}
.HeaderLight {
  background-color: #ffffff;
  border-bottom: 0.5px solid #eaeef2;
}

.activeHeaderDark {
  background-color: #1f2937;
  border-radius: 5px;
}
.activeHeaderLight {
  background-color: #f3f6f9;
  border-radius: 5px;
}
