/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 800px) {
    /* Smaller Resolution Desktops and Laptops */

}

@media (max-width: 650px) {

    /* Smaller devices */
    .sm-text {
        text-align: center;
    }

}

@media (max-width: 450px) {

    /* Even Smaller devices */
    .sm-text {
        text-align: center;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    /* Even Smaller devices */
    .sm-text {
        text-align: center;
    }
}