.CardBgDark {
  background: #182133;

  border-radius: 5px;

  cursor: pointer;
}
.CardBgLight {
  background: #ffff;

  border-radius: 5px;

  cursor: pointer;
}
.CardBgDark::after {
  display: block;
  content: "";
  border-bottom: 2px solid #64ffb9;
  transform: scaleX(0);
  transition: transform 0.35s ease-in-out;
  transform-origin: 100% 50%;
}

.CardBgDark:hover::after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
.CardBgLight::after {
  display: block;
  content: "";
  border-bottom: 2px solid #64ffb9;
  transform: scaleX(0);
  transition: transform 0.35s ease-in-out;
  transform-origin: 100% 50%;
}

.CardBgLight:hover::after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
