html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0A192F;
    color: white;
}

h1 {
    color: white;
}

.nav-link {
    border-top: 1px solid #0A192F;
    border-width: 0.5px;

}