@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300&family=Plus+Jakarta+Sans:wght@600;800&display=swap");

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

.lightColor {
  color: black !important;
}

.darkColor {
  color: #f3f6f9 !important;
}

.darkMode {
  min-height: 100vh;
  background-color: #111a28;
  color: #f3f6f9;
}
.darkBg{
  background-color: #111a28;
}
.lightBg{
  background-color: #f3f6f9;
}

.lightMode {
  min-height: 100vh;
  background-color: #f3f6f9;
  color: black;
}
.DarkCard {
  background: #182133;
  border-radius: 5px;
}
.LightCard{
  background: #FFFFFF;
  border-radius: 5px;
}


.slick-slider .slick-slide {
  padding: 0 15px;
}
.cngCard {
  height: 280px !important;
  overflow-y: scroll;
}

.icon-hover:hover {
  color: #0dacd0 !important;
}
.wrapper {
  width: 40px;
  height: 40px;
}
.circle {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  border: 1px solid #005bb5;

  /* box-shadow: 2px 2px 2px #005BB5; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text {
  font-weight: solid;
  color: #005bb5;
}
